#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name={{ manifest.name }}
Comment={{ manifest.name }}
Icon=brave-webapps-{{ app.name }}
Exec=brave-browser "--profile-directory={{ app.profile }}" "--app={{ app.url }}{{ manifest.start_url }}"
