[Desktop Entry]
Type=Application
Name=Looking Glass
Comment=Looking Glass Remote Viewer Client
Exec=/bin/sh $HOME/.config/looking-glass/wrapper.sh
Icon=looking-glass
